.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 50px;
}

.iconsBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.link {
  position: relative;
  width: 35px;
  height: 35px;
  transition: opacity 0.3s;
}

.link:hover {
  opacity: 0.5;
}

.link:active {
  opacity: 0.3;
}

.counterWrapper {
  position: absolute;
  top: -7px;
  right: 2px;
}